.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3rem 0rem;
}
#card {
    height: 30rem;
}

#img {
    height: 68%;
    padding: 1.4rem;
}
